<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
  num1: "0",
  num2: "0",
  result: 0,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>
<template>
  <div id="app" class="card">
    <div>
      <input type="text" ref="num1" v-model="state.num1" class="centrer_text" />
    </div>
    <div class="centrer_text">+</div>
    <div>
      <input type="text" ref="num2" v-model="state.num2" class="centrer_text" />
    </div>
    <div><button class="centrer_text w100px" @click="doAdd()">=</button></div>
    <div class="centrer_text" ref="result">{{ state.result }}</div>
    <div>{{ state.num1 }}+{{ state.num2 }} = {{ result }}</div>
  </div>
</template>

<style>
.centrer_text {
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.bold_text {
  font-weight: bold;
}

.card {
  padding: 5px;
  border-style: solid;
  width: 300px;
  text-align: center;
}

.w100px {
  width: 100px;
}
</style>
